
@media (max-width: 992px) {
    .buttons_button {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        margin: 5px;
    };
}

.buttons_button {
    background: transparent;
    border: none;
    color: teal;
    transition: 1s;
}

.buttons_button:hover {
    color: rgb(0, 179, 179)
}


.buttons_button:disabled {
    color: rgb(202, 202, 202);
}